@use 'src/styles/mixins';
@use 'src/styles/variables';

.btn {
  position: relative;
  cursor: pointer;

  @include mixins.btn-reset;
  @include mixins.focus();
  @include mixins.hover;

  &[disabled] {
    background-color: rgba(variables.$grey, 0.5);
    border: none;
    cursor: no-drop;
  }
}
