@use 'src/styles/variables';

.container {
  border: 1px solid variables.$dark;
  border-radius: 4px;

  &__title {
    padding: variables.$layout-padding;
    color: variables.$color-secondary;
    border-bottom: 1px solid variables.$dark;
    background: variables.$color-primary;
  }

  &--padding {
    .container__content {
      padding: variables.$layout-padding;
    }
  }
}
