@use 'variables';
@use 'mixins';

@import 'normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

body {
  color: variables.$color-text;
}

button,
a[href='*'] {
  position: relative;
  cursor: pointer;

  &:focus {
    @include mixins.focus;
  }

  &:hover {
    opacity: 0.8;
  }
}

ul {
  list-style: none;
  padding: 0;

  &.with-overflow {
    max-height: 450px;
    overflow: auto;
  }
}

.card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__title {
    font-size: variables.$font-size-large;
  }

  &__container {
    @include mixins.v-center;
    justify-content: space-between;
    margin-top: 16px;

    width: 100%;
  }
}
