@use 'variables';

@mixin focus($size: 5) {
  &:focus {
    &:after {
      content: "";
      width: calc(100%);
      height: calc(100%);
      left: 0;
      top: 0;
      border: ($size * 1px) solid rgba(variables.$green, 0.3);
      border-radius: 4px;
      position: absolute;
      z-index: 2;
    }
  }
}

@mixin hover {
  &:hover {
    background-color: rgba(variables.$color-primary, 0.20);
    transition: background-color variables.$transition-duration;
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin v-center {
  display: flex;
  align-items: center;
}

@mixin h-center {
  display: flex;
  justify-content: center;
}

@mixin btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}
