@use './variables';

@mixin focus {
  $size: 3;

  &:after {
    content: "";
    width: calc(100% + ($size * 2px));
    height: calc(100% + ($size * 2px));
    left: $size * -1px;
    top: $size * -1px;
    border: ($size * 1px) solid rgba(51, 202, 127, 0.3);
    position: absolute;
    z-index: -1;
  }
}

@mixin v-center {
  display: flex;
  align-items: center;
}

@mixin h-center {
  display: flex;
  align-items: center;
}
