@use 'src/styles/variables';

.flight-card {
  // border: 2px solid variables.$color-primary;
  // border-radius: 4px;
  display: flex;
  padding: variables.$layout-padding;
  width: 100%;
  position: relative;

  color: variables.$dark;

  .card__title {
    font-size: variables.$font-size-base;
  }

  .station {
    &__name {
      font-size: variables.$font-size-medium;
      line-height: variables.$line-height-medium;
      font-weight: variables.$font-weight-bold;
      margin-bottom: 4px;
    }
  }

  .departure {
    text-align: left;
  }

  .arrival {
    text-align: right;
  }

  .card__container span {
    font-size: 30px;
    font-weight: variables.$font-weight-light;
  }

  .hover-text {
    display: none;
  }

  &:hover:not(:disabled) {
    .hover-text {
      display: flex;

      p {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: variables.$white;
        font-size: variables.$font-size-base;
        font-weight: variables.$font-weight-bold;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(variables.$dark, 0.8);
      }
    }
  }
}
