@use 'src/styles/variables';

.flight-card {
  // border: 2px solid variables.$color-primary;
  // border-radius: 4px;
  display: flex;
  padding: variables.$layout-padding;
  width: 100%;

  color: variables.$dark;

  .card__title {
    font-size: variables.$font-size-base;
  }

  .station {
    &__name {
      font-size: variables.$font-size-medium;
      line-height: variables.$line-height-medium;
      font-weight: variables.$font-weight-bold;
      margin-bottom: 4px;
    }
  }

  .departure {
    text-align: left;
  }

  .arrival {
    text-align: right;
  }

  .card__container span {
    font-size: 30px;
    font-weight: variables.$font-weight-light;
  }
}
