@use 'src/styles/variables';
@use '../Timeline.scss' as timeline;

.timeline-marker {
  display: flex;
  justify-content: space-between;
  width: calc(100% + variables.$layout-padding * 2);
  margin-left: calc(variables.$layout-padding * -1);
  padding-top: 8px;

  &__item {
    font-size: variables.$font-size-small;
    position: relative;

    &:before {
      content: '';
      height: timeline.$timeline-item-height * 1px;
      width: 2px;
      background-color: timeline.$iddle-color;
      top: -8px; //removing padding-top;
      left: 50%;
      position: absolute;
    }
  }

  &__item:first-of-type,
  &__item:last-of-type {
    &:before{
      display: none;
    }
  }
}
